<div class="iq-sidebar">
   <div class="iq-navbar-logo d-flex justify-content-between">
      <a class="header-logo">
         <img src="/assets/images/logo.png" class="img-fluid rounded" alt="">
         <span>FinDash</span>
      </a>
      <div class="iq-menu-bt align-self-center">
         <div class="wrapper-menu">
            <div class="main-circle"><i class="ri-menu-line"></i></div>
            <div class="hover-circle"><i class="ri-close-fill"></i></div>
         </div>
      </div>
   </div>
   <div id="sidebar-scrollbar">
      <nav class="iq-sidebar-menu">
         <ul id="iq-sidebar-toggle" class="iq-menu">
            <li>
               <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span
                     class="ripple rippleEffect"></span><i
                     class="las la-home iq-arrow-left"></i><span>Dashboard</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="las la-laptop-code"></i>Account Dashboard</a></li>

               </ul>
            </li>


            <li class="active">
               <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span
                     class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>User</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="userinfo" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="las la-id-card-alt"></i>User Profile</a></li>
                  <li><a><i class="las la-edit"></i>User Edit</a></li>
                  <li class="active"><a><i class="las la-plus-circle"></i>User Add</a></li>
                  <li><a><i class="las la-th-list"></i>User List</a></li>
               </ul>
            </li>

            <li>
               <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="lab la-elementor iq-arrow-left"></i><span>UI Elements</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="las la-palette"></i>colors</a></li>
                  <li><a><i class="las la-keyboard"></i>Typography</a></li>
                  <li><a><i class="las la-tag"></i>Alerts</a></li>
                  <li><a><i class="lab la-atlassian"></i>Badges</a></li>
                  <li><a><i class="las la-bars"></i>Breadcrumb</a></li>
                  <li><a><i class="las la-tablet"></i>Buttons</a></li>
                  <li><a><i class="las la-credit-card"></i>Cards</a></li>
                  <li><a><i class="las la-film"></i>Carousel</a></li>
                  <li><a><i class="las la-video"></i>Video</a></li>
                  <li><a><i class="las la-border-all"></i>Grid</a></li>
                  <li><a><i class="las la-images"></i>Images</a></li>
                  <li><a><i class="las la-list"></i>list Group</a></li>
                  <li><a><i class="las la-ad"></i>Media</a></li>
                  <li><a><i class="las la-columns"></i>Modal</a></li>
                  <li><a><i class="las la-bell"></i>Notifications</a></li>
                  <li><a><i class="las la-ellipsis-h"></i>Pagination</a></li>
                  <li><a><i class="las la-eraser"></i>Popovers</a></li>
                  <li><a><i class="las la-hdd"></i>Progressbars</a></li>
                  <li><a><i class="las la-database"></i>Tabs</a></li>
                  <li><a><i class="las la-magnet"></i>Tooltips</a></li>
               </ul>
            </li>
            <li>
               <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="lab la-wpforms iq-arrow-left"></i><span>Forms</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="forms" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="las la-book"></i>Form Elements</a></li>
                  <li><a><i class="las la-edit"></i>Form Validation</a></li>
                  <li><a><i class="las la-toggle-off"></i>Form Switch</a></li>
                  <li><a><i class="las la-check-square"></i>Form Checkbox</a></li>
                  <li><a><i class="ri-radio-button-line"></i>Form Radio</a></li>
               </ul>
            </li>
            <li>
               <a href="#wizard-form" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="ri-archive-drawer-line iq-arrow-left"></i><span>Forms Wizard</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="wizard-form" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="ri-clockwise-line"></i>Simple Wizard</a></li>
                  <li><a><i class="ri-clockwise-2-line"></i>Validate Wizard</a></li>
                  <li><a><i class="ri-anticlockwise-line"></i>Vertical Wizard</a></li>
               </ul>
            </li>
            <li>
               <a href="#tables" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="ri-table-line iq-arrow-left"></i><span>Table</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="tables" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="ri-table-line"></i>Basic Tables</a></li>
                  <li><a><i class="ri-database-line"></i>Data Table</a></li>
                  <li><a><i class="ri-refund-line"></i>Editable Table</a></li>
               </ul>
            </li>
            <li>
               <a href="#charts" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="ri-pie-chart-box-line iq-arrow-left"></i><span>Charts</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="charts" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">

                  <li><a><i class="ri-folder-chart-2-line"></i>Apex Chart</a></li>
               </ul>
            </li>
            <li>
               <a href="#icons" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="ri-list-check iq-arrow-left"></i><span>Icons</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="icons" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="ri-stack-line"></i>Dripicons</a></li>
                  <li><a><i class="ri-facebook-fill"></i>Font Awesome 5</a></li>
                  <li><a><i class="ri-keynote-line"></i>line Awesome</a></li>
                  <li><a><i class="ri-remixicon-line"></i>Remixicon</a></li>
                  <li><a><i class="ri-underline"></i>unicons</a></li>
               </ul>
            </li>
            <li>
               <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="ri-pages-line iq-arrow-left"></i><span>Authentication</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="authentication" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="las la-sign-in-alt"></i>Login</a></li>
                  <li><a><i class="ri-login-circle-line"></i>Register</a></li>
                  <li><a><i class="ri-record-mail-line"></i>Recover Password</a></li>
                  <li><a><i class="ri-file-code-line"></i>Confirm Mail</a></li>
                  <li><a><i class="ri-lock-line"></i>Lock Screen</a></li>
               </ul>
            </li>
            <li>
               <a href="#extra-pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="ri-pantone-line iq-arrow-left"></i><span>Extra Pages</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="extra-pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="ri-map-pin-time-line"></i>Timeline</a></li>
                  <li><a><i class="ri-question-answer-line"></i>Invoice</a></li>
                  <li><a><i class="ri-invision-line"></i>Blank Page</a></li>
                  <li><a><i class="ri-error-warning-line"></i>Error 404</a></li>
                  <li><a><i class="ri-error-warning-line"></i>Error 500</a></li>
                  <li><a><i class="ri-price-tag-line"></i>Pricing</a></li>
                  <li><a><i class="ri-price-tag-2-line"></i>Pricing 1</a></li>
                  <li><a><i class="ri-archive-line"></i>Maintenance</a></li>
                  <li><a><i class="ri-mastercard-line"></i>Coming Soon</a></li>
                  <li><a><i class="ri-compasses-line"></i>Faq</a></li>
               </ul>
            </li>
            <li>
               <a href="#menu-level" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                     class="ri-record-circle-line iq-arrow-left"></i><span>Menu Level</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="menu-level" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a><i class="ri-record-circle-line"></i>Menu 1</a></li>
                  <li>
                     <a><i class="ri-record-circle-line"></i>Menu 2</a>

                  </li>
                  <li><a><i class="ri-record-circle-line"></i>Menu 3</a></li>
                  <li><a><i class="ri-record-circle-line"></i>Menu 4</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div class="p-3"></div>
   </div>
</div>