/*
Template: FinDash - Responsive Bootstrap 4 Admin Dashboard Template
Author: iqonicthemes.in
Design and Developed by: iqonicthemes.in
NOTE: This file contains the styling for responsive Template.
*/

@media(min-width:1300px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1400px;
	}
}

@media(max-width:1699px) {
	.email-form .select2-container {
		width: 100% !important;
	}

	.iq-search-bar .searchbox {
		width: 350px;
	}
}

@media(min-width:1300px) {
	body.sidebar-main .iq-sidebar {
		width: 80px;
	}

	/* body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span, body.sidebar-main .iq-sidebar-logo a span, body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge { opacity: 0; display: none; transition: all 0.45s ease 0s; } */
	.sidebar-main .iq-sidebar .iq-submenu li a {
		font-size: 0;
	}

	/* body.sidebar-main .iq-sidebar-menu .iq-menu li a .iq-arrow-right { margin-right: 0; display: none; } */
	body.sidebar-main .iq-sidebar-menu .iq-menu li li a i {
		margin: 0 auto;
		text-align: center;
	}

	body.sidebar-main .iq-sidebar-menu .iq-menu li a i.iq-arrow-left {
		margin: 0 auto;
	}

	body.sidebar-main .iq-navbar-logo a {
		display: none;
	}

	.iq-top-navbar .iq-navbar-logo {
		display: none !important;
	}

	.iq-top-navbar .iq-navbar-custom .iq-menu-bt {
		display: none !important;
	}

	body.sidebar-main .iq-sidebar-menu .iq-menu li a .iq-arrow-right {
		margin-right: 0;
		display: none;
	}

	body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span, body.sidebar-main .iq-sidebar-logo a span, body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge {
		opacity: 0;
		display: none;
		transition: all 0.45s ease 0s;
	}

	/*-----------------------------------------------------------------
                          Horizontal Menu Page
  ------------------------------------------------------------------- */

	.iq-page-menu-horizontal .iq-top-navbar .iq-navbar-custom .iq-menu-bt {
		display: block !important;
	}

	.iq-top-navbar .iq-navbar-custom .iq-menu-bt .wrapper-menu {
		display: none;
	}

	.iq-top-navbar .iq-navbar-custom .iq-navbar-logo {
		display: block !important;
		padding: 0;
		margin: 0 !important;
	}

	.iq-page-menu-horizontal .iq-top-navbar {
		width: 100%;
		left: 0;
	}

	.iq-top-navbar .nav-item .search-box {
		padding: 0px;
	}

	.iq-page-menu-horizontal .navbar-list li .caption {
		display: none;
	}

	.iq-page-menu-horizontal .iq-navbar-custom .navbar .navbar-list li>a>img {
		margin-right: 0px !important;
	}

	.iq-page-menu-horizontal .navbar-list li.nav-item.nav-icon>a {
		margin-left: 5px;
		margin-right: 5px;
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li.active {
		background: none;
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li {
		margin-bottom: 0px;
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li a {
		padding: 28px 10px 28px 0;
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu .iq-submenu li a {
		padding: 12px 13px 12px 15px;
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li.menu-open .iq-arrow-right, .iq-menu-horizontal .iq-sidebar-menu .iq-menu li:hover .iq-arrow-right {
		transform: rotate(90deg);
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li li .iq-arrow-right, .iq-menu-horizontal .iq-sidebar-menu .iq-menu li:hover li .iq-arrow-right {
		transform: rotate(0deg);
	}

	.iq-page-menu-horizontal .content-page {
		margin-left: 0px;
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li ul {
		display: block;
		position: absolute;
		top: 100%;
		padding: 10px 0px;
		min-width: 200px;
		background: var(--iq-light-primary);
		border: 1px solid var(--iq-light-primary);
		z-index: 9;
		box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.06);
		transition: all 0.45s ease 0s;
		-webkit-transition: all 0.45s ease 0s;
		-moz-transition: all 0.45s ease 0s;
		-o-transition: all 0.45s ease 0s;
		transform: scale(1, 0);
		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		-webkit-transform-origin: 0 0 0;
		-moz-transform-origin: 0 0 0;
		-o-transform-origin: 0 0 0;
		transform-origin: 0 0 0;
	}

	.iq-menu-horizontal .iq-sidebar-menu li:hover>.iq-submenu {
		display: block;
		transition: all 0.45s ease 0s;
		-webkit-transition: all 0.45s ease 0s;
		-moz-transition: all 0.45s ease 0s;
		-o-transition: all 0.45s ease 0s;
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
	}

	.iq-menu-horizontal .iq-sidebar-menu li>.iq-submenu.iq-submenu-data {
		opacity: 0;
		visibility: visible;
		left: 100%;
		top: 0;
		transform-origin: left center 0;
	}

	.iq-menu-horizontal .iq-sidebar-menu li:hover>.iq-submenu.iq-submenu-data {
		opacity: 1;
		transition: all 0.45s ease 0s;
		-webkit-transition: all 0.45s ease 0s;
		-moz-transition: all 0.45s ease 0s;
	}

	.iq-menu-horizontal .iq-sidebar-menu li>.iq-submenu .iq-arrow-right {
		margin-right: 0px;
	}

	.iq-page-menu-horizontal .iq-footer {
		margin-left: 0px;
	}


	/*-----------------------------------------------------------------
                          Horizontal Top Menu Page
  ------------------------------------------------------------------- */

	body.top-tab-horizontal .iq-top-navbar {
		position: static;
		box-shadow: none;
		padding: 0;
	}

	.top-tab-horizontal .iq-top-navbar .top-menu {
		padding: 0 15px;
		min-height: 73px;
		position: fixed;
		top: 0;
		left: auto;
		right: 0;
		width: 100%;
		display: inline-block;
		z-index: 999;
		background: var(--iq-light-card);
		margin: 0;
		transition: all 0.45s ease 0s;
		box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
	}

	.iq-top-navbar .top-menu .iq-navbar-logo {
		display: block !important;
		padding: 0;
		margin: 0 !important;
	}

	.iq-top-navbar .top-menu .navbar .iq-menu-bt {
		margin-left: 0px;
	}

	.iq-top-navbar .top-menu .navbar {
		z-index: 9;
	}

	.iq-top-navbar .top-menu .iq-menu-bt .wrapper-menu {
		display: none;
	}

	.top-tab-horizontal .iq-top-navbar {
		width: 100%;
		left: 0;
	}

	.top-tab-horizontal .content-page {
		margin-left: 0px;
	}

	.tab-menu-horizontal {
		background: var(--iq-primary);
		margin-top: 73px;
		position: fixed;
		width: 100%;
		left: 0px;
		right: 0px;
		z-index: 9;
	}

	.top-tab-horizontal .tab-menu-horizontal.menu-down {
		top: -60px;
		opacity: 0;
		transition: all 0.45s ease 0s;
	}

	.top-tab-horizontal .tab-menu-horizontal.menu-up {
		top: 0px;
		opacity: 1;
		transition: all 0.45s ease 0s;
	}

	/*.tab-menu-horizontal .iq-sidebar-menu .iq-menu { margin-left: 0px; }*/
	.iq-menu-horizontal-tab .iq-sidebar-menu .iq-menu>li {
		padding: 10px 0;
		margin: 0px;
	}

	.tab-menu-horizontal .iq-sidebar-menu .iq-menu li.active {
		background: none;
	}

	.tab-menu-horizontal .iq-sidebar-menu .iq-menu li {
		margin-bottom: 0px;
	}

	.iq-menu-horizontal-tab .iq-sidebar-menu .iq-menu>li>a {
		padding: 10px 20px;
		border-radius: 4px;
		color: var(--iq-white);
		transition: all 0.5s ease-out 0s;
		line-height: 20px;
	}

	.iq-menu-horizontal-tab .iq-sidebar-menu .iq-menu>li:hover>a {
		background-color: var(--iq-white);
		color: #1e3d73;
	}

	.tab-menu-horizontal .iq-sidebar-menu .iq-menu .iq-submenu li a {
		padding: 12px 13px 12px 15px;
	}

	.tab-menu-horizontal .iq-sidebar-menu .iq-menu li ul {
		display: block;
		position: absolute;
		top: 100%;
		padding: 10px 0px;
		min-width: 200px;
		background: var(--iq-light-primary);
		border: 1px solid var(--iq-light-primary);
		z-index: 9;
		box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.06);
		transition: all 0.45s ease 0s;
		-webkit-transition: all 0.45s ease 0s;
		-moz-transition: all 0.45s ease 0s;
		-o-transition: all 0.45s ease 0s;
		transform: scale(1, 0);
		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		-webkit-transform-origin: 0 0 0;
		-moz-transform-origin: 0 0 0;
		-o-transform-origin: 0 0 0;
		transform-origin: 0 0 0;
	}

	.tab-menu-horizontal .iq-sidebar-menu li:hover>.iq-submenu {
		display: block;
		transition: all 0.45s ease 0s;
		-webkit-transition: all 0.45s ease 0s;
		-moz-transition: all 0.45s ease 0s;
		-o-transition: all 0.45s ease 0s;
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
	}

	.tab-menu-horizontal .iq-sidebar-menu li>.iq-submenu.iq-submenu-data {
		opacity: 0;
		visibility: visible;
		left: 100%;
		top: 0;
		transform-origin: left center 0;
	}

	.tab-menu-horizontal .iq-sidebar-menu li:hover>.iq-submenu.iq-submenu-data {
		opacity: 1;
		transition: all 0.45s ease 0s;
		-webkit-transition: all 0.45s ease 0s;
		-moz-transition: all 0.45s ease 0s;
	}

	.tab-menu-horizontal .iq-sidebar-menu li>.iq-submenu .iq-arrow-right {
		margin-right: 0px;
	}

	.top-tab-horizontal .iq-footer {
		margin-left: 0px;
	}

	/*---------------------------------------------------------------------
	small sidebar with icon
	-----------------------------------------------------------------------*/
	.two-sidebar .iq-sidebar .iq-navbar-logo .iq-menu-bt .wrapper-menu {
		display: none;
	}

	body.two-sidebar .iq-top-navbar {
		width: calc(100% - 350px);
	}

	body.two-sidebar.sidebar-main .iq-top-navbar {
		width: calc(100% - 90px);
		color: var(--iq-white);
	}

	.two-sidebar .iq-footer {
		margin-left: 350px;
	}

	body.two-sidebar.sidebar-main .iq-footer {
		margin-left: 90px;
	}


	/*-----------------------------------------------------------------
                          Sidebar icon with text
    ------------------------------------------------------------------- */

	body.icon-with-text .iq-sidebar {
		width: 150px;
		overflow: unset;
	}

	.icon-with-text .iq-sidebar.sidebar-dark-blue .iq-menu-bt {
		display: none;
	}

	.iq-sidebar.sidebar-dark-blue, .iq-sidebar.sidebar-dark-blue .iq-sidebar-logo {
		background: #2f4d80 !important;
	}

	body.icon-with-text .iq-sidebar-logo {
		width: 150px;
		text-align: center;
		padding-left: 0px;
		position: relative;
		overflow: hidden;
		height: 74px;
		z-index: 9;
		flex-direction: column;
	}

	body.icon-with-text .iq-sidebar-logo a {
		display: block;
	}

	body.icon-with-text .content-page {
		margin-left: 150px;
	}

	body.icon-with-text .iq-top-navbar {
		width: calc(100% - 150px);
	}

	body.icon-with-text .iq-sidebar #sidebar-scrollbar {
		overflow: unset !important;
	}

	.icon-with-text .iq-sidebar-menu .iq-menu>li>a {
		color: var(--iq-white);
	}

	.icon-with-text .iq-sidebar-menu .iq-menu>li.active>a, .icon-with-text .iq-sidebar-menu .iq-menu>li:hover>a {
		color: var(--iq-white);
	}

	body.icon-with-text .iq-sidebar-menu .iq-menu>li>a>i {
		margin-bottom: 10px;
		margin-right: 0px;
		font-size: 20px;
		color: var(--iq-white);
	}

	body.icon-with-text .iq-sidebar-menu .iq-menu li a .iq-arrow-right {
		position: absolute;
		left: auto;
		right: 0;
		top: 27px;
		font-size: 12px;
		transform: rotate(0);
	}

	body.icon-with-text .iq-sidebar-menu .iq-menu>li>a {
		display: flex;
		flex-direction: column;
		padding: 15px;
	}

	.icon-with-text .iq-sidebar-menu .iq-menu {
		margin-left: 0px;
		margin-right: 0px;
	}

	.sidebar-dark-blue .iq-sidebar-menu .iq-menu li {
		padding-right: 15px;
	}

	.icon-with-text .iq-sidebar-menu .iq-menu>li.active {
		background: var(--iq-primary) !important;
	}

	body.icon-with-text .iq-sidebar-menu .iq-menu li ul {
		background: var(--iq-white);
		position: absolute;
		display: block;
		top: 0;
		left: 100%;
		padding: 0;
		min-width: 200px;
		opacity: 0;
		visibility: hidden;
		transition: transform 0.2s;
		transform: translateX(50px);
		-webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.16);
		-moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.16);
		box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.16);
	}

	.iq-sidebar.sidebar-dark-blue .iq-sidebar-menu .iq-menu li ul {
		padding-left: 0;
		left: 100%;
		border-radius: 0 15px 15px 0;
	}

	body.icon-with-text .iq-sidebar-menu .iq-menu li:hover>ul {
		opacity: 1;
		visibility: visible;
		transition: all 0.45s ease 0s;
		transform: translateX(0);
	}

	body.icon-with-text .iq-footer {
		margin-left: 150px;
	}
}

@media(max-width:1399px) {
	.animation-card .an-img .bodymovin {
		margin-bottom: -28px;
	}

	.animation-card .an-img {
		margin-top: 0;
	}
}

@media(max-width:1299px) {
	.iq-top-navbar .iq-navbar-custom .iq-menu-bt {
		display: block;
	}

	.iq-circle-progressbar .percent {
		font-size: 1.3rem !important;
	}

	.iq-circle-progressbar svg {
		width: 80px !important;
		height: 80px !important;
	}

	.iq-circle-progressbar {
		margin: 0 auto;
		width: 80px !important;
		height: 80px !important;
	}

	.content-page, body.sidebar-main .content-page {
		margin-left: 0;
		padding: 100px 0 0;
	}

	.iq-top-navbar, body.sidebar-main .iq-top-navbar {
		width: auto;
		left: 0;
		right: 0;
	}

	.iq-top-navbar.fixed-header {
		width: 100%;
		left: 0;
	}

	.iq-footer, body.sidebar-main .iq-footer {
		padding: 15px 10px;
		margin-left: 0;
		width: 100%;
	}

	.iq-sidebar {
		display: inline-block;
		z-index: 99;
		left: -260px;
		top: 75px;
		padding-top: 15px;
	}

	.iq-top-navbar .iq-navbar-custom .navbar-breadcrumb {
		display: none;
	}

	.iq-sidebar-logo {
		width: auto;
	}

	body.sidebar-main .iq-top-navbar .iq-sidebar-logo a span {
		opacity: 1;
		display: inline-block;
	}

	body.sidebar-main .iq-sidebar {
		width: 260px;
		left: 0;
		z-index: 999;
	}

	body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span {
		display: inline-block;
		opacity: 1;
	}

	body.sidebar-main .iq-sidebar-menu .iq-menu li a .iq-arrow-right {
		display: inline-block;
	}

	.iq-email-to-list ul li {
		margin: 0 2px 0 0;
	}

	.an-img-two {
		width: 600px;
		top: -118px;
	}

	.iq-menu-horizontal {
		position: absolute;
		left: -100%;
		right: 0;
		width: 100%;
		opacity: 0;
		top: 100%;
		width: 260px;
		background: var(--iq-white);
		height: 80vh;
		overflow-y: scroll;
		overflow-x: hidden;
		transition: all 0.45s ease 0s;
	}

	.iq-page-menu-horizontal.sidebar-main .iq-menu-horizontal {
		opacity: 1;
		left: 0;
		transition: all 0.45s ease 0s;
		border-radius: 0px;
	}

	.iq-menu-horizontal ul.iq-menu.d-flex {
		display: block !important;
		background: var(--iq-white);
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li a {
		padding: 15px 20px 15px 30px;
	}

	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li ul {
		position: static;
		box-shadow: none;
	}

	.iq-search-bar .searchbox {
		width: 100%;
	}

	.without-right-sidebar .iq-footer {
		width: 100%;
	}

	.iq-sidebar .iq-menu-bt {
		display: none !important;
	}

	.iq-navbar-logo {
		padding: 0;
	}

	.iq-sidebar .iq-navbar-logo {
		display: none !important;
	}

	.iq-sidebar {
		display: inline-block;
		z-index: 99;
		left: -260px;
	}

	body.two-sidebar.sidebar-main .iq-sidebar .iq-navbar-logo {
		padding-left: 15px;
	}

	body.two-sidebar.sidebar-main .iq-sidebar {
		width: 260px;
		z-index: 1000;
	}

	body.two-sidebar .iq-top-navbar {
		width: calc(100% - 60px);
		left: auto;
	}

	body.two-sidebar.sidebar-main .content-page, body.two-sidebar .content-page {
		margin-left: 70px;
	}

	body.two-sidebar .iq-top-navbar .iq-navbar-logo {
		display: none !important;
	}

	body.two-sidebar .iq-top-navbar .iq-navbar-custom .iq-menu-bt {
		display: none !important
	}

	/*-----------------------------------------------------------------
                          Horizontal Top Menu Page
    ------------------------------------------------------------------- */

	.tab-menu-horizontal {
		position: fixed;
		z-index: 999;
		top: 75px;
		left: -260px;
		width: 260px;
		overflow: hidden;
		height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;
		background: var(--iq-white);
		transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}

	.top-tab-horizontal.sidebar-main .tab-menu-horizontal {
		left: 0px;
	}

	body.top-tab-horizontal .iq-menu-horizontal-tab {
		width: 100%;
	}

	.iq-sidebar-menu .iq-menu {
		display: block !important;
	}

	body.top-tab-horizontal .iq-top-navbar, body.body.top-tab-horizontal.sidebar-main .iq-top-navbar {
		left: 0;
		right: 0;
		margin: 0;
		border-radius: 0;
	}

	body.top-tab-horizontal .content-page, body.top-tab-horizontal.sidebar-main .content-page {
		padding: 100px 0 0;
	}

	body.top-tab-horizontal.sidebar-main .iq-menu-bt {
		opacity: 1;
		display: block;
	}

	.iq-sidebar-menu .iq-menu li {
		margin-bottom: 0px;
	}

	.tab-menu-horizontal .iq-sidebar-menu .iq-menu li a, .tab-menu-horizontal .iq-sidebar-menu .iq-menu>li.active>a {
		padding: 15px 20px;
	}


	.icon-with-text.sidebar-main .iq-sidebar .iq-sidebar-logo {
		display: none !important;
	}

}


@media(max-width:1199px) {
	.an-img-two {
		display: none;
	}

	.iq-booking-no li .iq-seat {
		width: 35px;
		height: 45px;
	}

	.iq-booking-no li {
		width: 4.7%;
	}

	.iq-email-to-list {
		overflow-x: scroll;
	}

	.iq-email-to-list ul li {
		margin: 0 5px 0 0;
	}

	.iq-email-to-list .justify-content-between {
		float: left;
		width: 900px;
	}

	.sign-in-from {
		padding: 0 30px;
	}

	.sign-in-detail {
		padding: 100px 50px;
	}
}

@media(max-width:991px) {
	.iq-navbar-custom {
		margin-top: 11px;
	}

	#chartdiv {
		margin-top: 30px;
	}

	.an-img-two .bodymovin {
		display: none;
	}

	.display-1 {
		font-size: 4rem;
		font-weight: 300;
	}

	.display-2 {
		font-size: 3.5rem;
		font-weight: 300;
	}

	.display-3 {
		font-size: 3rem;
		font-weight: 300;
	}

	.display-4 {
		font-size: 2.5rem;
		font-weight: 300;
	}

	.display-5 {
		font-size: 2rem;
		font-weight: 300;
	}

	.display-6 {
		font-size: 1.5rem;
		font-weight: 300;
	}

	.iq-top-navbar .navbar {
		position: relative;
	}

	.iq-top-navbar .navbar-toggler {
		position: absolute;
		left: auto;
		right: 65px;
		color: var(--iq-primary);
		background: var(--iq-light-primary);
		border: none;
		padding: 7px 10px;
		border-radius: 5px;
		font-size: 24px;
	}

	.iq-page-menu-horizontal .iq-top-navbar .navbar-toggler, .top-tab-horizontal .iq-top-navbar .navbar-toggler {
		right: 80px;
	}

	.two-sidebar .iq-search-bar {
		margin-right: 45px;
	}

	.icon-with-text .iq-search-bar {
		padding: 0;
	}

	.navbar-collapse {
		position: absolute;
		top: 58px;
		left: 0;
		width: 100%;
		background: var(--iq-white);
		-webkit-box-shadow: 0px 5px 12px 0px rgba(55, 73, 72, 0.15);
		-moz-box-shadow: 0px 5px 12px 0px rgba(55, 73, 72, 0.15);
		box-shadow: 0px 5px 12px 0px rgba(55, 73, 72, 0.15);
	}

	.navbar-nav.navbar-list {
		float: right;
		display: inline-block;
	}

	.iq-top-navbar .iq-navbar-custom .iq-menu-bt {
		right: 125px;
		top: 18px;
		margin: 0;
	}

	.navbar-list li:last-child>a {
		padding-right: 0;
	}

	.animation-card .an-img .bodymovin {
		margin-bottom: 0;
		margin-left: 0;
		width: 100%;
	}

	.iq-footer, .iq-footer .col-lg-6.text-right {
		text-align: center !important;
	}

	.iq-booking-index {
		overflow-x: scroll;
	}

	.seat-booking {
		width: 980px;
		position: relative;
	}

	.seat-booking .col-sm-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
		width: 8.333333%;
	}

	.seat-booking .col-sm-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
		width: 83.333333%;
	}

	.iq-booking-offer {
		padding: 30px;
	}

	.offer-an-img {
		position: static;
		width: 100%;
	}

	.sign-in-from {
		padding: 0 20px;
	}

	.iq-maintenance .col-lg-4 {
		margin-bottom: 15px;
	}

	.chat-data-left {
		position: absolute;
		left: 0;
		max-width: 320px;
		top: 0;
		z-index: 9;
		background: var(--iq-white);
		transform: translateX(-100%);
		opacity: 0;
		transition: all 0.45s ease 0s;
		box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.06);
		overflow-y: scroll;
		height: 100%;
	}

	.chat-sidebar-channel {
		overflow: auto;
		height: auto;
		padding-left: 0 !important;
	}

	.chat-search {
		padding-left: 0 !important;
	}

	.chat-data-left.show {
		transform: translateX(0);
		opacity: 1;
		transition: all 0.45s ease 0s;
	}

	button.close-btn-res {
		display: block;
		background: transparent;
		border: none;
		font-size: 20px;
		font-weight: 600;
		position: absolute;
		top: 10px;
		left: auto;
		right: 0;
	}

	.chat-head header {
		padding-left: 15px;
	}

	div.sidebar-toggle {
		display: block;
	}

	.sidebar-toggle {
		background: var(--iq-light-primary);
		padding: 12px 10px;
		margin-right: 15px;
		border-radius: 5px;
		height: 40px;
		width: 40px;
		line-height: 17px;
		text-align: center;
		color: var(--iq-primary);
	}

	#chat-user-detail-popup {
		overflow-y: scroll;
		padding-bottom: 20px;
	}

	#user-detail-popup {
		overflow: scroll;
	}

	ul.profile-img-gallary li img {
		width: 100%;
	}

	.navbar-list li .iq-sub-card img {
		margin-right: .5rem !important;
	}

	.profile-feed-items li a {
		margin: 0 5px 0 0;
	}

	.profile-left {
		order: 2;
	}

	.profile-center {
		order: 1;
	}

	.profile-right {
		order: 3;
	}

	.iq-edit-profile .nav-link {
		font-size: 14px;
	}

	.stepwizard-row .wizard-step a {
		padding: 20px 15px;
		margin: 10px 10px;
	}

	.navbar-list li .caption {
		display: none;
	}

	.navbar-list li img {
		margin-right: 0 !important;
	}

	ul.iq-week-data {
		overflow: hidden;
		overflow-x: scroll;
	}

	.header-for-bg .data-block {
		padding: 10px;
	}

	.header-for-bg .title-on-header {
		top: 32%;
	}

	.top-tab-horizontal .iq-menu-bt {
		margin: 0;
	}

	.two-sidebar .iq-top-navbar .navbar {
		justify-content: flex-end;
	}

	.iq-page-menu-horizontal .iq-navbar-custom {
		margin-top: 0px;
	}

	.iq-page-menu-horizontal .iq-top-navbar .navbar, .top-tab-horizontal .iq-top-navbar .navbar {
		position: static;
	}
}

@media(max-width:979px) {
	.iq-circle-progressbar .percent {
		font-size: 2.5rem !important;
	}

	.iq-circle-progressbar svg {
		width: 200px !important;
		height: 200px !important;
	}

	.iq-circle-progressbar {
		margin: 0 auto;
		width: 200px !important;
		height: 200px !important;
	}
}

@media(max-width:767px) {
	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 1rem;
		display: block;
		overflow-x: auto;
	}

	.display-1 {
		font-size: 2.5rem;
		font-weight: 500;
	}

	.display-2 {
		font-size: 2.3rem;
		font-weight: 500;
	}

	.display-3 {
		font-size: 2rem;
		font-weight: 500;
	}

	.display-4 {
		font-size: 1.6rem;
		font-weight: 500;
	}

	.display-5 {
		font-size: 1.3rem;
		font-weight: 500;
	}

	.display-6 {
		font-size: 1rem;
		font-weight: 500;
	}

	.search-box .search-input {
		width: 280px;
	}

	.navbar-nav.navbar-list {
		display: inline-block;
	}

	.sign-info {
		text-align: center;
		margin-bottom: 30px;
	}

	.iq-social-media {
		width: 100%;
	}

	.iq-social-media li {
		float: none;
		display: inline-block;
	}

	.sign-in-from button {
		margin-top: 10px;
	}

	.sign-in-from .custom-control.custom-checkbox {
		display: block !important;
	}

	.sign-in-detail {
		padding: 50px 20px;
	}

	.sign-in-from {
		padding: 20px;
	}

	.iq-error h1 {
		font-size: 12rem;
	}

	.user-detail {
		margin-bottom: 15px;
		padding-left: 0 !important;
	}

	.user-detail .d-flex {
		display: block !important;
		text-align: center;
	}

	.profile-img {
		text-align: center;
		padding-right: 0 !important
	}

	.profile-feed-items {
		width: 100%;
		justify-content: center;
	}

	.iq-edit-profile .nav-link {
		border: none;
	}

	.user-list-files.d-flex.float-right {
		display: block !important;
		text-align: center;
		margin-top: 30px;
		width: 100%;
	}

	.table-responsive #exampleInputSearch {
		width: 100%;
	}

	.wizard-step {
		width: 50%;
	}

	.iq-advance-course .left-block .d-flex {
		display: block !important;
	}

	.iq-advance-course.d-flex {
		display: block !important;
		text-align: center;
	}

	.right-block .image-absulute.image-absulute-1 {
		right: 50px;
	}

	.right-block .image-absulute.image-absulute-2 {
		left: 40px;
		right: auto;
		top: auto;
		bottom: 50px;
	}

	.iq-search-bar {
		width: 100%;
		position: absolute;
		bottom: -48px;
		left: 0;
		right: 0;
	}

	.iq-top-navbar, body.sidebar-main .iq-top-navbar {
		min-height: auto;
		padding-bottom: 60px;
	}

	.content-page, body.sidebar-main .content-page {
		padding: 160px 0 0;
	}

	.iq-sidebar {
		top: 140px;
	}

	.iq-search-bar .search-input {
		background: var(--iq-light-primary);
	}

	ul.post-opt-block li {
		font-size: 0;
	}

	.profile-header .user-detail {
		position: relative;
		bottom: 0;
		margin-top: -70px;
	}

	.profile-info.p-4.d-flex {
		display: block !important;
	}

	.social-info {
		margin-top: 20px;
	}

	ul.request-list>li {
		flex-wrap: wrap;
	}

	ul.request-list>li .d-flex {
		margin-left: 50px;
		margin-top: 10px;
	}

	.iq-error h1.text-in-box {
		font-size: 5em;
	}

	.header-for-bg .title-on-header h2 {
		font-size: 18px;
	}

	.right-sidebar-mini {
		top: 125px;
	}

	.sign-in-page .col-md-6 {
		margin: 15px;
	}

	.sign-in-page {
		height: 100%;
		padding: 30px 15px;
	}

	.sign-in-page .height-self-center {
		height: 100%;
	}

	body.top-tab-horizontal .iq-top-navbar, body.body.top-tab-horizontal.sidebar-main .iq-top-navbar {
		padding: 0px;
	}

	.iq-page-menu-horizontal .iq-top-navbar, body.iq-page-menu-horizontal.sidebar-main .iq-top-navbar {
		padding-bottom: 0
	}

	.iq-page-menu-horizontal .content-page {
		padding-top: 100px;
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	body.two-sidebar.sidebar-main .content-page, body.two-sidebar .content-page {
		padding-top: 100px;
	}

	body.two-sidebar .iq-top-navbar {
		padding-bottom: 10px;
	}

	.two-sidebar .iq-top-navbar .iq-search-bar {
		position: static;
		width: auto;
	}
}

@media(max-width:479px) {
	.display-1 {
		font-size: 2.0rem;
		font-weight: 500;
	}

	.display-2 {
		font-size: 1.8rem;
		font-weight: 500;
	}

	.display-3 {
		font-size: 1.6rem;
		font-weight: 500;
	}

	.display-4 {
		font-size: 1.4rem;
		font-weight: 500;
	}

	.display-5 {
		font-size: 1.2rem;
		font-weight: 500;
	}

	.iq-circle-progressbar .percent {
		font-size: 2rem !important;
	}

	.iq-circle-progressbar svg {
		width: 150px !important;
		height: 150px !important;
	}

	.iq-circle-progressbar {
		margin: 0 auto;
		width: 150px !important;
		height: 150px !important;
	}

	.iq-card-body {
		padding: 15px;
	}

	.iq-sidebar-logo a span {
		display: none;
	}

	body.sidebar-main .iq-top-navbar .iq-sidebar-logo a span {
		opacity: 0;
		display: none;
	}

	.iq-error h1 {
		font-size: 8rem;
	}

	.chat-head header {
		overflow-x: scroll;
	}

	#chat-user-detail-popup {
		width: 300px;
	}

	.profile-feed-items {
		display: block !important;
	}

	.profile-feed-items li {
		margin: 0 0 20px 0;
	}

	ul.header-nav li {
		height: 35px;
		width: 35px;
		line-height: 35px;
		margin: 0 5px 0 0;
		font-size: 16px;
	}

	.comment-area.p-3>div {
		display: block !important;
	}

	.comment-area.p-3>div>div {
		margin-bottom: 10px;
	}

	.profile-feed-items li a {
		text-align: center;
	}

	.wizard-step {
		width: 100%;
	}

	.iq-search-bar {
		padding: 0 0px;
		width: 100%;
		margin: 15px 0 0;
	}

	.two-sidebar .iq-search-bar {
		margin-right: 0;
		padding: 0;
	}

	.iq-top-navbar .iq-sub-dropdown {
		width: 240px;
	}

	.iq-top-navbar .navbar-nav.navbar-list li:first-child .iq-sub-dropdown {
		right: -100px;
	}

	.iq-page-menu-horizontal .iq-top-navbar .navbar-nav.navbar-list li:first-child .iq-sub-dropdown, .top-tab-horizontal .iq-top-navbar .navbar-nav.navbar-list li:first-child .iq-sub-dropdown {
		right: -150px;
	}

	.iq-page-menu-horizontal .navbar-collapse, .top-tab-horizontal .navbar-collapse {
		top: 75px;
	}

	.iq-page-menu-horizontal .iq-top-navbar .navbar-toggler, .iq-page-menu-horizontal .iq-top-navbar .iq-navbar-custom .iq-menu-bt, .top-tab-horizontal .iq-top-navbar .navbar-toggler, .top-tab-horizontal .iq-top-navbar .iq-navbar-custom .iq-menu-bt {
		top: 18px;
	}

	.iq-page-menu-horizontal .content-page, body.sidebar-main.iq-page-menu-horizontal .content-page {
		padding: 120px 0 0;
	}

	.top-tab-horizontal .content-page, body.sidebar-main.top-tab-horizontal .content-page {
		padding: 100px 0 0;
	}

	.iq-error h1.text-in-box {
		font-size: 4em;
	}

	.header-for-bg .title-on-header {
		top: 20%;
	}

	.navbar-list li>a {
		padding: 0 10px;
	}

	.iq-navbar-logo a span {
		font-size: 0;
	}

	.iq-show .search-box {
		right: -150px;
	}
}

@media(max-width:359px) {}