<div class="wrapper">
    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <div id="content-page" class="content-page">
        <div id="content-page" class="content-page">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>
